-if user_signed_in?
  %input#user_checkbox{type:"checkbox",style:"display:none;"}
  %label#user_checkbox--label{for:"user_checkbox"}
  %ul#user_checkbox--menu
    %li
      =link_to "User edit",edit_user_registration_path
    %li
      =link_to "Sign out",destroy_user_session_path,method:"delete"
  %input#menu{type:"checkbox",style:"display:none;"}
  %label#menu-label{for:"menu"}
    %span#menu-label__line
-else
  %input#menu{type:"checkbox",style:"display:none;",checked:"checked"}
.menu
  -if user_signed_in?
    =link_to "Group edit",""
    #group_create
      %input#turn-members{name:"group_page",type:"radio",style:"display:none;",checked:"cheched"}
      %label.turn-left{for:"turn-members"}
      %input#turn-tags{name:"group_page",type:"radio",style:"display:none;"}
      %label.turn-right{for:"turn-tags"}
      %h2 Group create
      =form_with url:groups_path,id: :create_group,class: :create_group,method: :post,local:true do |f|
        .field
          %label Group name
          = f.text_field :name,placeholder:"Group name",class: :group_form_name,autocomplete:"off",id:"GroupName"
        .field
          %label search Email
          %input{id:"searchEmail",name:"email",type:"email",placeholder:"e@mail",value:""}
        = recaptcha_tags
        .field#searched_member
        .field#group_members
          .user__data{style:"display:none;"}
            %input{name:"user_ids[]",value:"#{current_user.id}",type:"checkbox",checked:"checked"}
            %span{name:"user__email"}= "#{current_user.email}"
        .field#searched_tags
          -if @tags
            - @tags.each do |tag|
              - if tag.user_id==current_user.id
                .currentUser_tag__data
                  %input{id:"tag_ids_#{tag.id}",name:"tag_ids[]",style:"display:none;",type:"checkbox",value:"#{tag.id}"}
                  %span{name:"tag__id",style:"display:none;"}= tag.id
                  %span{name:"tag__x",style:"display:none;"}= tag.x
                  %span{name:"tag__y",style:"display:none;"}= tag.y
                  %span{name:"tag__title"}= tag.title
                  %label.add_button{for:"tag_ids_#{tag.id}"}
        .field#group_tags
        .actions
          = f.submit 'Create',class: :group_form__submit,id: :group_form__submit
      %ul#group__datas
        -if @groups
          - @groups.each do |group|
            %li.group__data
              %span{name:"group__id",style:"display:none;"}= group.id
              .group__name= group.name
      #group__menu
      #tag__datas{style:"display:none;"}
        -if @tags
          - @tags.each do |tag|
            .tag__data
              %span{name:"tag__id"}= tag.id
              %span{name:"tag__title"}= tag.title
              %span{name:"tag__explanation"}= tag.explanation
              %span{name:"tag__x"}= tag.x
              %span{name:"tag__y"}= tag.y
  -else
    %input#info{name:"menu_page",type:"radio",style:"display:none;"}
    -unless flash[:error].nil?
      %input#signin{name:"menu_page",type:"radio",style:"display:none;",checked:"checked"}
    -else
      %input#signin{name:"menu_page",type:"radio",style:"display:none;"}
    %label#signin-label{for:"signin"}ログイン
    =link_to "新規登録",new_user_registration_path
    #information
      %h1 あなただけの地図を作りませんか？
      %span Would you like to make a map just for you?
      %p マップスペース
      %p マップスペースは地図に付箋をつけるように手軽にお使いいただけるアプリです。
      %ul
        %li あなただけのビューポイント
        %li 秘密の釣りポイント
        %li 二人の思い出の場所
      %p 恋人や会社の仲間と共有することも可能です。
      =link_to "How to use",root_path
      %label.turn-right{for:"signin"}
    #user_session
      %label.turn-left{for:"info"}
      %h2 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        -unless flash[:error].nil?
          #error_explanation
            %h2
              =flash[:error]
        -else
          #error_explanation
        = recaptcha_tags
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email",autocomplete:"off"
        .field
          = f.label :password
          = f.password_field :password, autocomplete: "current-password"
          = link_to "Forgot your password?", new_password_path(resource_name)
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Sign in"
