!!!

%html{lang:"ja"}
  %head
    %meta{content:"text/html; charset=UTF-8","http-equiv":"Content-Type"}
    %meta{name:"description",content:"あなただけの地図を作りませんか？マップスペースは地図に付箋をつけるように手軽にご使用頂けるアプリです。"}
    %meta{name:"viewport",content:"width=device-width,initial-scale=1.0"}
    = csrf_meta_tags
    = csp_meta_tag
    :javascript
      var height=window.innerHeight;document.documentElement.style.setProperty( '--vh', height/100 + 'px');
    = stylesheet_link_tag 'application',media: 'all'
    = javascript_pack_tag 'application',defer:true
    %title あなただけの地図ができる。-MapSpace-
    = favicon_link_tag('favicon.ico')

  %body

    #mymap

    #center_marker

    = yield

    %input#taggroup_checkbox{type:"checkbox",style:"display:none;"}
    %label#tag_group--label{for:"taggroup_checkbox"}
    #tag_create
      = form_with url:tags_path,class: :tag_form,id: :form_tag_create,method: :post,local:true do |f|
        = f.hidden_field :x
        = f.hidden_field :y
        - if user_signed_in?
          = f.text_field :title,placeholder:'marker title',autofocus:true,class: :tag_form__title,autocomplete:"off"
          = f.submit '作成',class: :tag_form__submit,id: :submit_tag__create
          .tag_form__group
            - @groups.each_with_index do |group,index|
              - if index==0
                %input{name:"group_ids[]",type:"radio",value:group.id,id:"group_ids_#{group.id}",checked:""}
              - else
                %input{name:"group_ids[]",type:"radio",value:group.id,id:"group_ids_#{group.id}"}
              %label{for:"group_ids_#{group.id}"}= group.name
          .tag_form__text
            = f.text_area :explanation